.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*~
__pycache__/
*.pyc

.cache/
compile_commands.json

build/
build-*/
cmake-build-*/
Testing/

CTestTestfile.cmake
CTestCostData.txt
DartConfiguration.tcl
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe

*.log
